---
import Section from "../../components/Section.astro";
import ProjectLayout from "../../layouts/ProjectLayout.astro";

const project = {
    name: "DEVOTEE",
    description: "Project Description"
}
---

<ProjectLayout description={project.description} title={project.name}>
    <Section slot="show-section">
        <img src="/img/cubes/devotee.png" />
    </Section>

    <Section slot="tell-section">
        <p class="ibm-base text-lg">
            DEVOTEE consists
        </p>
    </Section>

    <Section slot="detail-section">

    </Section>

    <Section slot="diagram-section">
        <img src="/img/placeholder.png" />
    </Section>

    <Section slot="more">

    </Section>
</ProjectLayout>