---
import Section from "../../components/Section.astro";
import ProjectLayout from "../../layouts/ProjectLayout.astro";

const project = {
    name: "DEVOTEE",
    description: "Project Description"
}
---

<ProjectLayout description={project.description} title={project.name}>
    <Section slot="show-section">
        <img src="/img/cubes/devotee.webp" />
    </Section>

    <Section slot="tell-section">
        <p class="ibm-base text-lg p-5">
            DEVOTEE is a platform for managing digital and physical content created by our creators. 
            It is a platform that allows creators to upload their content and monetize it in a few different ways.
            We offer a subscription model, a pay-per-view model, and a tipping model, depending on the specific situation.
        </p>
    </Section>

    <Section slot="detail-section">
        <p class="ibm-base text-lg p-5">
            DEVOTEE consists of a Django Restframework API as the backend and a SvelteKit frontend. 
            We are using JWT Authentication for managing API access and permissions. 
        </p>
    </Section>

    <Section slot="diagram-section">
        <img src="/img/placeholder.webp" />
    </Section>
</ProjectLayout>