---
import Next from "../components/Next.astro";
import Project from "../components/Project.astro";
---

<main class="min-h-screen space-y-10">
    <h1 class="text-8xl ibm-plex-mono-light">Free Works</h1>
    <p>My own works from my free time and freelancing projects</p>

    <div>
        <div class="flex flex-wrap gap-1">
            <div class="flex flex-col gap-1">
                <div class="flex gap-1">
                    <Project title="Project 1" image="/img/cube/clockwork.png" width="300px" height="300px" />
                    <Project title="Project 1" image="/img/cube/degeneracy.png" width="300px" height="300px" />
                </div>
                <div class="flex gap-1">
                    <Project title="Project 1" image="/img/cube/tiptalk.png" width="300px" height="300px" />
                    <Project title="Project 1" image="/img/cube/book.png" width="300px" height="300px" />
                </div>
            </div>
            <div class="flex items-center justify-center">
                <Project title="Project 1" image="/img/cube/devotee.png" width="602px" height="602px" />
            </div>
        </div>
    </div>

    <div class="flex justify-end">
        <Next href="/contact" />
    </div>
</main>