---
import Layout from '../layouts/Layout.astro';
import KeyWords from '../components/KeyWords.vue';
import { PROJECTS } from '../lib';
import Section from '../components/Section.astro';
import Socials from '../components/Socials.astro';
import Bento from '../components/grids/Bento.astro';
import Button from '../components/Button.astro';
import Sidebar from '../components/Sidebar.vue';
import Next from '../components/Next.astro';


const keyWords = () => {
	const keyWords = [];

	PROJECTS.forEach(project => {
		project.keyWords.forEach(keyWord => {
			keyWords.push(keyWord);
		});
	});

	const keyWordsCount = keyWords.reduce((acc, keyWord) => {
		acc[keyWord] = (acc[keyWord] || 0) + 1;
		return acc;
	}, {});

	const keyWordsCountSorted = keyWordsCount;

	return keyWordsCountSorted;
};

const keyWordsCount = keyWords();
---

<Layout title="Portfolio">
	<main class="p-20">
		<!-- <section class="h-screen hidden md:block">
			<Cube client:only="vue" images={[
				"devotee.png",
				"clockwork.png",
				"degeneracy.png",
				"tiptalk.png",
				"terminal.png",
				"book.png"
			]}>
				<div slot="fallback">Loading cube...</div>
			</Cube>
		</section> -->

		<Sidebar selectedSection={1} />

		<section id="About" class="h-screen space-y-52">
			<h1 style="line-height: 200px; font-size: 250px; text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);">TIM ARNOLD</h1>
			<small class="text-lg ibm-base">Programmer, Designer, Writer</small>

			<Section>
				<div class="flex gap-10">
					<div class="w-2/3">
						<img src="/img/placeholder.png" />
					</div>
					<div class="flex flex-col gap-y-20 justify-between flex-grow">
						<p class="ibm-base">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum, odio non bibendum pretium, est velit venenatis est, vitae lacinia lacus erat sed diam. Maecenas tincidunt vehicula magna pulvinar maximus. Ut at mi a leo ornare pulvinar. Sed ac est dapibus tortor tincidunt feugiat.
						</p>
						
						<div class="flex justify-end">
							<Socials />
						</div>
					</div>
				</div>
			</Section>

			<!-- <div class="container mx-auto">
				<KeyWords keyWords={keyWordsCount} />
			</div> -->
		</section>

		<section id="Programming" class="h-screen space-y-10">
			<a href="/programming" class="flex justify-start items-baseline">
				<svg width="256" height="256" viewBox="0 0 256 256" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M128.161 13.7373L96.1609 237.738L127.839 242.262L159.839 18.2627L128.161 13.7373Z" fill="black" fill-opacity="0.25"/>
					<path d="M200 184L177.373 161.373L210.746 128L177.373 94.6275L200 72L256 128L200 184Z" fill="black" fill-opacity="0.25"/>
					<path d="M45.2549 128L78.6274 161.373L56 184L0 128L56 72L78.6274 94.6275L45.2549 128Z" fill="black" fill-opacity="0.25"/>
				</svg>
				<h2 class="text-9xl -ml-32">Programming</h2>
			</a>

			<Bento></Bento>

			<div class="flex justify-end">
				<Next href="/programming" />
			</div>
		</section>

		<section id="Design" class="h-screen space-y-10">
			<a href="/design" class="flex justify-start items-baseline">
				<svg width="256" height="256" viewBox="0 0 256 256" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M128.161 13.7373L96.1609 237.738L127.839 242.262L159.839 18.2627L128.161 13.7373Z" fill="black" fill-opacity="0.25"/>
					<path d="M200 184L177.373 161.373L210.746 128L177.373 94.6275L200 72L256 128L200 184Z" fill="black" fill-opacity="0.25"/>
					<path d="M45.2549 128L78.6274 161.373L56 184L0 128L56 72L78.6274 94.6275L45.2549 128Z" fill="black" fill-opacity="0.25"/>
				</svg>
				<h2 class="text-9xl -ml-32">Design</h2>
			</a>

			<Bento></Bento>

			<div class="flex justify-end">
				<Next href="/design" />
			</div>
		</section>

		<section id="Cybersecurity" class="h-screen space-y-10">
			<a href="/cybersecurity" class="flex justify-start items-baseline">
				<svg width="256" height="256" viewBox="0 0 256 256" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M128.161 13.7373L96.1609 237.738L127.839 242.262L159.839 18.2627L128.161 13.7373Z" fill="black" fill-opacity="0.25"/>
					<path d="M200 184L177.373 161.373L210.746 128L177.373 94.6275L200 72L256 128L200 184Z" fill="black" fill-opacity="0.25"/>
					<path d="M45.2549 128L78.6274 161.373L56 184L0 128L56 72L78.6274 94.6275L45.2549 128Z" fill="black" fill-opacity="0.25"/>
				</svg>
				<h2 class="text-9xl -ml-32">Cybersecurity</h2>
			</a>

			<Bento></Bento>

			<div class="flex justify-end">
				<Next href="/cybersecurity" />
			</div>
		</section>

		<section id="Writing" class="h-screen space-y-10">
			<a href="/writing" class="flex justify-start items-baseline">
				<svg width="256" height="256" viewBox="0 0 256 256" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M128.161 13.7373L96.1609 237.738L127.839 242.262L159.839 18.2627L128.161 13.7373Z" fill="black" fill-opacity="0.25"/>
					<path d="M200 184L177.373 161.373L210.746 128L177.373 94.6275L200 72L256 128L200 184Z" fill="black" fill-opacity="0.25"/>
					<path d="M45.2549 128L78.6274 161.373L56 184L0 128L56 72L78.6274 94.6275L45.2549 128Z" fill="black" fill-opacity="0.25"/>
				</svg>
				<h2 class="text-9xl -ml-32">Writing</h2>
			</a>

			<Bento></Bento>

			<div class="flex justify-end">
				<Next href="/writing" />
			</div>
		</section>

		<section id="Contact" class="h-screen space-y-10">
			<div class="flex justify-start items-baseline">
				<h2 class="text-9xl">Contact</h2>
			</div>
			
			<Socials />
			<textarea class="w-full h-64 border border-black p-5 text-black text-lg ibm-base" style="box-shadow: 4px 4px 0px rgb(0, 0, 0);"></textarea>
			<Button text="Submit" />
		</section>

		<script>
			document.addEventListener(
				"astro:page-load",
				() => {
					const element = document.querySelector('[type="checkbox"]');
					element?.addEventListener("change", () => {
						gsap.to(".box", { x: 100 });
					})
				},
				{ once: false }
			)
		</script>
	</main>
</Layout>