---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import ButtonNext from '../components/ButtonNext.astro';
import Flex from '../components/Flex.astro';
---

<Layout title="Tim Arnold - Portfolio">
	<main>



	</main>
</Layout>

<script>
	
</script>