---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Legal">
    <main class="p-20">
        <div class="container mx-auto space-y-10 text-black ibm-base">
            <h1 class="text-6xl ibm-semibold">Legal</h1>
            <div>
                <h2 class="text-3xl">Company</h2>
                <p>Clockwork Systems UG (haftungsbeschränkt)</p>
                <p>Almenrauschstraße 6A</p>
                <p>86179 Augsburg</p>
            </div>
            <div>
                <h2 class="text-3xl">Managing Director</h2>
                <p>Tim Arnold</p>
                <p>Almenrauschstraße 6A</p>
                <p>86179 Augsburg</p>
                <p>Phone: +49 176 47849365</p>
                <p>Email: freelancing.degeneracy@gmail.com</p>
            </div>
        </div>
    </main>    
</Layout>