---
import Next from "../components/Next.astro";
import Project from "../components/Project.astro";
---

<main class="min-h-screen space-y-10">
    <h1 class="text-8xl ibm-plex-mono-light">Studies</h1>
    <p>Works from my studies at “Technische Hochschule Augsburg”</p>

    <div>
        <div class="flex flex-wrap gap-1">
            <div class="flex flex-col gap-1">
                <div class="flex gap-1">
                    <Project title="Clockwork Systems" image="/img/cube/terminal.png" width="300px" height="300px" />
                    <Project title="Project 1" image="https://via.placeholder.com/300" width="300px" height="300px" />
                </div>
                <div class="flex gap-1">
                    <Project title="Project 1" image="https://via.placeholder.com/300" width="300px" height="300px" />
                    <Project title="Project 1" image="https://via.placeholder.com/300" width="300px" height="300px" />
                </div>
            </div>
            <div class="flex items-center justify-center">
                <Project title="Project 1" image="https://via.placeholder.com/602" width="602px" height="602px" />
            </div>
        </div>
    </div>

    <div class="flex justify-end">
        <Next href="/free" />
    </div>
</main>