---
interface props {
    text: String,
  };
  
  const text = Astro.props.text;
---

<button class="ibm-semibold w-full h-16 bg-white hover:bg-black border border-black hover:border-white text-black hover:text-white">
    {text}
</button>