---
// Props
interface Props {
  title: string;
  body: string;
  active: boolean;
}

const { title, body, active } = Astro.props;

const classesFirst = "bg-primary flex flex-col justify-center items-center " + (active ? "order-1" : "order-2");
const classesSecond = "bg-secondary " + active ? 'order-2' : 'order-1';
---

<div class="min-h-[100vh]">
  <div class="grid grid-cols-2">

    <div class={classesFirst}>
      <div>
        <h1 class="inter text-9xl">{title}</h1>
        <p class="satoshi-light text-3xl">
            {body}
        </p>
      </div>
    </div>
    
    <div class={classesSecond}>
      <slot />
    </div>
  
  </div>
</div>