<div class="flex gap-20">
  <a href="https://github.com/degenerateddev">
    <svg
      width="64"
      height="64"
      viewBox="0 0 64 64"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_212_3081)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M32 0C49.6736 0 64 14.6878 64 32.8094C64 47.3022 54.8416 59.5967 42.1344 63.9391C40.512 64.2623 39.936 63.2377 39.936 62.3641C39.936 61.2825 39.9744 57.7498 39.9744 53.3594C39.9744 50.3002 38.9504 48.3035 37.8016 47.2859C44.928 46.4731 52.416 43.6985 52.416 31.0969C52.416 27.5129 51.1744 24.5882 49.12 22.2906C49.4528 21.4618 50.5504 18.1247 48.8064 13.6063C48.8064 13.6063 46.1248 12.7271 40.016 16.9703C37.4592 16.2439 34.72 15.8784 32 15.8656C29.28 15.8784 26.544 16.2439 23.9904 16.9703C17.8752 12.7271 15.1872 13.6063 15.1872 13.6063C13.4496 18.1247 14.5472 21.4618 14.8768 22.2906C12.832 24.5882 11.5808 27.5129 11.5808 31.0969C11.5808 43.6665 19.0528 46.4837 26.16 47.3125C25.2448 48.1317 24.416 49.5768 24.128 51.6984C22.304 52.5368 17.6704 53.9878 14.816 48.9734C14.816 48.9734 13.1232 45.821 9.9104 45.5906C9.9104 45.5906 6.7904 45.5492 9.6928 47.5844C9.6928 47.5844 11.7888 48.5924 13.2448 52.3844C13.2448 52.3844 15.1232 58.2403 24.0256 56.2563C24.0416 58.9987 24.0704 61.5833 24.0704 62.3641C24.0704 63.2313 23.4816 64.2462 21.8848 63.9422C9.16799 59.6062 0 47.3054 0 32.8094C0 14.6878 14.3296 0 32 0Z"
          fill="black"></path>
      </g>
      <defs>
        <clipPath id="clip0_212_3081">
          <rect width="64" height="64" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </a>

  <a href="https://www.linkedin.com/in/tim-arnold-22a035254/">
    <svg
      width="64"
      height="64"
      viewBox="0 0 64 64"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_212_3082)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M64 64H51.2V41.6031C51.2 35.4591 48.4896 32.0313 43.6288 32.0313C38.3392 32.0313 35.2 35.6031 35.2 41.6031V64H22.4V22.4H35.2V27.0781C35.2 27.0781 39.216 20.0313 48.2656 20.0313C57.3184 20.0313 64 25.5555 64 36.9859V64ZM7.8144 15.7469C3.4976 15.7469 0 12.2207 0 7.87188C0 3.52627 3.4976 0 7.8144 0C12.128 0 15.6256 3.52627 15.6256 7.87188C15.6288 12.2207 12.128 15.7469 7.8144 15.7469ZM0 64H16V22.4H0V64Z"
          fill="black"></path>
      </g>
      <defs>
        <clipPath id="clip0_212_3082">
          <rect width="64" height="64" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </a>

  <a href="https://www.instagram.com/degenerateddev/">
    <svg
      width="64"
      height="64"
      viewBox="0 0 64 64"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M32 48C40.8365 48 48 40.8365 48 32C48 23.1634 40.8365 16 32 16C23.1634 16 16 23.1634 16 32C16 40.8365 23.1634 48 32 48ZM32 42.6667C37.8909 42.6667 42.6667 37.8909 42.6667 32C42.6667 26.109 37.8909 21.3333 32 21.3333C26.109 21.3333 21.3333 26.109 21.3333 32C21.3333 37.8909 26.109 42.6667 32 42.6667Z"
        fill="black"></path>
      <path
        d="M47.9997 13.3335C46.5269 13.3335 45.333 14.5274 45.333 16.0002C45.333 17.4729 46.5269 18.6668 47.9997 18.6668C49.4725 18.6668 50.6663 17.4729 50.6663 16.0002C50.6663 14.5274 49.4725 13.3335 47.9997 13.3335Z"
        fill="black"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M4.4104 11.4029C2.6665 14.8255 2.6665 19.3059 2.6665 28.2668V35.7334C2.6665 44.6942 2.6665 49.1748 4.4104 52.5972C5.94437 55.6078 8.39205 58.0556 11.4027 59.5894C14.8253 61.3334 19.3057 61.3334 28.2665 61.3334H35.7332C44.694 61.3334 49.1745 61.3334 52.5969 59.5894C55.6076 58.0556 58.0553 55.6078 59.5892 52.5972C61.3332 49.1748 61.3332 44.6942 61.3332 35.7334V28.2668C61.3332 19.3059 61.3332 14.8255 59.5892 11.4029C58.0553 8.3923 55.6076 5.94462 52.5969 4.41064C49.1745 2.66675 44.694 2.66675 35.7332 2.66675H28.2665C19.3057 2.66675 14.8253 2.66675 11.4027 4.41064C8.39205 5.94462 5.94437 8.3923 4.4104 11.4029ZM35.7332 8.00008H28.2665C23.6981 8.00008 20.5925 8.00424 18.1921 8.20035C15.8538 8.39139 14.6581 8.73766 13.8239 9.16267C11.8169 10.1853 10.1851 11.8171 9.16242 13.8242C8.73741 14.6583 8.39114 15.8541 8.2001 18.1923C8.004 20.5928 7.99984 23.6983 7.99984 28.2668V35.7334C7.99984 40.302 8.004 43.4073 8.2001 45.8078C8.39114 48.1462 8.73741 49.342 9.16242 50.1761C10.1851 52.183 11.8169 53.8148 13.8239 54.8374C14.6581 55.2625 15.8538 55.6089 18.1921 55.7998C20.5925 55.9958 23.6981 56.0001 28.2665 56.0001H35.7332C40.3017 56.0001 43.407 55.9958 45.8076 55.7998C48.146 55.6089 49.3417 55.2625 50.1758 54.8374C52.1828 53.8148 53.8145 52.183 54.8372 50.1761C55.2622 49.342 55.6086 48.1462 55.7996 45.8078C55.9956 43.4073 55.9998 40.302 55.9998 35.7334V28.2668C55.9998 23.6983 55.9956 20.5928 55.7996 18.1923C55.6086 15.8541 55.2622 14.6583 54.8372 13.8242C53.8145 11.8171 52.1828 10.1853 50.1758 9.16267C49.3417 8.73766 48.146 8.39139 45.8076 8.20035C43.407 8.00424 40.3017 8.00008 35.7332 8.00008Z"
        fill="black"></path>
    </svg>
  </a>

  <a href="https://x.com/DegeneratedDev">
    <svg
      width="64"
      height="64"
      viewBox="0 0 64 64"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M50.4036 3.19995H60.2169L38.7774 27.705L64 61.0498H44.2503L28.7826 40.8258L11.0836 61.0498H1.26363L24.1955 34.8395L0 3.19995H20.2499L34.2319 21.685L50.4036 3.19995ZM46.9591 55.1756H52.3973L17.2954 8.76583H11.4604L46.9591 55.1756Z"
        fill="black"></path>
    </svg>
  </a>
</div>
