<div class="grid grid-cols-4 grid-rows-2 gap-4 px-5">
    <div class="col-span-1">
        <img src="/img/placeholder.png" />
    </div>
    <div class="col-span-1">
        <img src="/img/placeholder.png" />
    </div>
    <div class="col-span-1">
        <img src="/img/placeholder.png" />
    </div>
    <div class="col-span-1">
        <img src="/img/placeholder.png" />
    </div>
</div>