---
interface props {
  data: Object,
};
  
/* data = {
  0: {
    src: "/img/placeholder.png",
    link: "/project/placeholder", (optional)
  },
  1: {
    ...
  },
} */
const data = Astro.props.data || {};
---

{Object.entries(data).length > 0 && (
  <div class="grid grid-cols-4 gap-4 px-5">
    {Object.entries(data).map(([key, value]) => (
      <div class="border" key={key}>
        {value.link ? (
          <a href={value.link}>
            <img src={value.src} />
          </a>
        ) : (
          <img src={value.src} />
        )}
      </div>
    ))}
  </div>
)}