---
import { ViewTransitions } from 'astro:transitions';
import '@fontsource/ibm-plex-mono/100.css';
import '@fontsource/ibm-plex-mono/400.css';
import '@fontsource/ibm-plex-mono/600.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		
		<title>{title}</title>
	</head>
	<body>
		<main class="flex-col gap-10 text-stone-900 ibm-plex-mono">
			<div class="container mx-auto min-h-screen">
				<slot />
			</div>

			<div class="flex justify-end">
				<div class="flex flex-col gap-2 text-end p-5 text-xl ibm-base">
					<a href="/#Contact">Contact</a>
					<a href="/#About">About</a>
					<a href="/legal">Legal</a>
				</div>
			</div>

			<script>
				import gsap from "gsap";
				window.gsap = gsap;
			</script>
		</main>
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	@font-face {
		font-family: 'Satoshi-Regular';
		font-display: swap;
		font-weight: 400;
		font-style: normal;
		src: url('/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Satoshi-Light';
		font-weight: 300;
		font-display: swap;
		font-style: normal;
		src: url('/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Light.ttf') format('truetype');
	}

	.satoshi-regular {
		font-family: 'Satoshi-Regular', sans-serif;
	}

	.satoshi-light {
		font-family: 'Satoshi-Light', sans-serif;
	}

	.ibm-base {
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
	}

	.ibm-semibold {
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 600;
	}

	html {
		color: #F1F1F1;
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 100;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>