---
import '@fontsource/inter';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		
		<title>{title}</title>
	</head>
	<body>
		<main class="flex-col gap-10 text-stone-900 ibm-plex-mono">
			<header class="flex m-2">
				<div class="flex-grow">Tim Arnold</div>

				<div class="flex items-center gap-20">
					<a href="/studies">Studies</a>
					<a href="/free">Free Works</a>
				</div>
			</header>
			
			<div class="container mx-auto">
				<slot />
			</div>

			<script>
				import gsap from "gsap";
				window.gsap = gsap;
			</script>
		</main>
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	@font-face {
		font-family: 'Inter';
		font-display: swap;
		src: url('/fonts/Inter/static/Inter-Black.ttf') format('truetype');
	}

	@font-face {
		font-family: "IBM Plex Mono Light", monospace;
		font-weight: 200;
		font-style: normal;
		src: url('fonts/IBM/IBM_Plex_Mono/IBMPlexMono-Light.ttf') format('truetype');
	}

	@font-face {
		font-family: "IBM Plex Mono", monospace;
		font-weight: 400;
		font-style: normal;
		src: url('fonts/IBM/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Satoshi-Regular';
		font-display: swap;
		font-weight: 400;
		font-style: normal;
		src: url('/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Satoshi-Light';
		font-weight: 300;
		font-display: swap;
		font-style: normal;
		src: url('/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Light.ttf') format('truetype');
	}

	.inter {
		font-family: 'Inter', sans-serif;
	}

	.satoshi {
		font-family: 'Satoshi-Regular', sans-serif;
	}

	.satoshi-light {
		font-family: 'Satoshi-Light', sans-serif;
	}

	.ibm-plex-mono-light {
		font-family: 'IBM Plex Mono Light', monospace;
	}
	.ibm-plex-mono {
		font-family: 'IBM Plex Mono', monospace;
	}

	html {
		color: #F1F1F1;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
