---
import Layout from "./Layout.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<Layout title={title}>
    <h1 class="text-9xl">{title}</h1>
    <small class="text-base ibm-base">{description}</small>

    <div class="flex py-20 overflow-x-hidden overflow-y-visible">
        <section id="general" class="w-full space-y-10 flex-shrink-0">
            <div class="grid grid-cols-2">
                <slot name="show-section" />
                <slot name="tell-section" />
            </div>
        </section>
    
        <section id="technical" class="w-full space-y-10 flex-shrink-0 translate-x-[100%]">
            <div class="grid grid-cols-2">
                <slot name="detail-section" />
                <slot name="diagram-section" />
            </div>
        </section>
    </div>

    <div class="container">
        <div class="flex justify-start">
            <button id="next" class="hover:scale-105 duration-100 ease-linear" onclick="toggleSection">
                <div class="flex">
                    <svg width="67" height="53" viewBox="0 0 67 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M31 1L64 25L31 52" stroke="black" stroke-width="2"/>
                        <path d="M17 1L50 25L17 52" stroke="black" stroke-width="1.5"/>
                        <path d="M3 1L36 25L3 52" stroke="black"/>
                    </svg>
                </div>
            </button>
        </div>
    </div>

    <slot name="more" />
</Layout>

<script>
    import { gsap } from "gsap";

    let currentSection = 1;

    function toggleSection() {
        if (currentSection === 1) {
            gsap.to("#general", { xPercent: -100, duration: 1.2, zIndex: 0 });
            gsap.to("#technical", { xPercent: 0, duration: 1.2, zIndex: 10 });
            gsap.to("#next", { rotate: 180, duration: 1.2 });
            currentSection = 2;
        } else {
            gsap.to("#technical", { xPercent: -100, duration: 1.2, zIndex: 0 });
            gsap.to("#general", { xPercent: 0, duration: 1.2, zIndex: 10 });
            gsap.to("#next", { rotate: 0, duration: 1 });
            currentSection = 1;
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        const next = document.querySelector("#next");
        if (next) {
            next.addEventListener("click", toggleSection);
        }
    });
</script>